body {
  background-color: gray;
}

.box {
  position: relative;
  width: 470px;
  height: 208px;
  left: 20%;
  top: 30%;
  background-color: red;
  border-color: black;
  border-style: solid;
}

.flag {
  position: relative;
  width: 25%;
  height: 40%;
  left: 10%;
  top: 25px;
  background-color: red;
  border-color: black;
  /*  border-style: solid;*/
}

.hammer-head {
  position: absolute;
  width: 35%;
  border-radius: 25%;
  height: 25%;
  top: 15%;
  left: 24%;
  background-color: yellow;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  transform: rotate(135deg);
}

.hammer-handle {
  position: absolute;
  width: 75%;
  height: 10%;
  top: 50%;
  left: 25%;
  background-color: yellow;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  transform: rotate(45deg);
}

.sickle-handle {
  position: absolute;
  width: 40%;
  height: 10%;
  top: 87%;
  left: 0%;
  background-color: yellow;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  transform: rotate(135deg);
}

.sickle-head {
  position: absolute;
  width: 75px;
  height: 75px;
  top: 0%;
  left: 18%;
  transform: rotate(170deg);
  background-color: transparent;
  box-shadow: 2px 2px 0 0 black inset, 10px 10px 0px yellow inset,
    10px 10px 0 2px black inset;
  border-color: black;
  border-width: 1px;
  border-radius: 50%;
}

.sickle-bolt {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 69%;
  left: 23%;
  background-color: yellow;
  border-color: black;
  border-radius: 100%;
  border-style: solid;
  border-width: 1px;
  transform: rotate(135deg);
}

.star-1 {
  border-right: 100px solid transparent;
  border-bottom: 70px solid yellow;
  border-left: 100px solid transparent;
  transform: rotate(35deg);
}

.star-1:before {
  border-bottom: 80px solid yellow;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  position: absolute;
  top: -45px;
  left: -65px;
  content: "";
  transform: rotate(-35deg);
}

.star-1:after {
  position: absolute;
  top: 3px;
  left: -105px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid yellow;
  border-left: 100px solid transparent;
  transform: rotate(-70deg);
  content: "";
}

.star-2 {
  border-right: 100px solid transparent;
  border-bottom: 70px solid red;
  border-left: 100px solid transparent;
  transform: rotate(35deg);
}

.star-2:before {
  border-bottom: 80px solid red;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  position: absolute;
  top: -45px;
  left: -65px;
  content: "";
  transform: rotate(-35deg);
}

.star-2:after {
  position: absolute;
  top: 3px;
  left: -105px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid red;
  border-left: 100px solid transparent;
  transform: rotate(-70deg);
  content: "";
}

#s1 {
  position: absolute;
  top: -35px;
  left: -90px;
  transform: scale(0.25);
}

#s2 {
  position: absolute;
  top: -35px;
  left: -90px;
  transform: scale(0.2);
}
